BasedOnStyle: Microsoft

AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterCaseLabel: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
  AfterControlStatement: false
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true


ColumnLimit: 120
SortIncludes: false
TabWidth: 4

# Alignment
PointerAlignment: Left
AlignConsecutiveAssignments: true

# Indentation
IndentWidth: 4
NamespaceIndentation: All
IndentCaseLabels: false
AccessModifierOffset: -4