name: CMake

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
    tags:
      - "v*"
  create:

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Windows
            os: windows-2022
            preinstall: |
              choco install ninja --no-progress --yes
              # choco install llvm --version=21.1.0 --no-progress --yes
          - name: Linux
            os: ubuntu-24.04
            preinstall: |
              sudo apt-get update && sudo apt-get install ninja-build
              wget -qO- https://apt.llvm.org/llvm.sh | sudo bash -s 21
              sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-21 100
              sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-21 100
              sudo update-alternatives --set clang /usr/bin/clang-21
              sudo update-alternatives --set clang++ /usr/bin/clang++-21
    steps:

    - name: Checkout Repository
      uses: actions/checkout@v5

    - name: Setup CPM Cache
      uses: actions/cache@v5
      with:
        path: ${{ github.workspace }}/.cpm-cache
        key: ${{ runner.os }}-cpm-${{ hashFiles('CMakeLists.txt') }}
        restore-keys: |
          ${{ runner.os }}-cpm-

    - name: Install Toolchain
      run: ${{ matrix.config.preinstall }}

    - name: Configure CMake
      run: cmake --preset Release -DCPM_SOURCE_CACHE=${{ github.workspace }}/.cpm-cache

    - name: Build
      run: cmake --build ${{ github.workspace }}/build --parallel

    - name: Run Tests
      run: ctest --test-dir ${{ github.workspace }}/build

    - name: Upload Artifacts
      if: github.ref_type == 'tag'
      uses: actions/upload-artifact@v4
      with:
        name: release-assets-${{ matrix.config.name }}
        if-no-files-found: ignore
        path: |
          ${{ github.workspace }}/build/glsld
          ${{ github.workspace }}/build/glsld.exe
          ${{ github.workspace }}/build/glsld-wrapper
          ${{ github.workspace }}/build/glsld-wrapper.exe

  release:
    needs: build
    runs-on: ubuntu-24.04
    if: github.ref_type == 'tag'
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/release-assets
          merge-multiple: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/release-assets/*
